.arc {
	stroke: white;
	stroke-width : 2.5;
}
.arc-level0{
	fill: #ff8c1a;
}
.arc-level1{
	fill: #ffa64d;
}
.arc-level2{
	fill: #ffbf80;
}	
.arc-level3{
	fill : 	#ffd9b3;
}

.arc-hover{
	fill : #ffd9b3;
}
.arc-select{
	fill: #ff6600;
}
.tooltip-show{
	opacity : 1;
}

.tooltip{
	opacity : 0;
	text-align : left;
	position : absolute;
	width : auto;
	height : auto;
	font-size : 15px; 
	color : white;
	background : #808080;
	padding : 10px;
	pointer-events: none;
}
body{
	text-align : center;

}