.arc {
	stroke: white;
	stroke-width : 2.5;
	fill : #b84dff;	
}
.arc-hover{
	fill : #ebccff;
}

.arc-select{
	fill: black;
}
.tooltip-show{
	opacity : 1;
}

.tooltip{
	opacity : 0;
	text-align : left;
	position : absolute;
	width : auto;
	height : auto;
	font-size : 15px; 
	color : white;
	background : #808080;
	padding : 10px;
	pointer-events: none;
}
body{
	text-align : center;

}