h{
	font-size : 40px;
}
div{
	margin: 40px;
}
.arc {
	stroke: white;
	stroke-width : 2.5;
}
.arc-level0{
	fill: #ff8c1a;
}
.arc-level1{
	fill: #ffa64d;
}
.arc-level2{
	fill: #ffbf80;
}	
.arc-level3{
	fill : 	#ffd9b3;
}

.arc-hover{
	opacity : 0.5;
}
.arc-select{
	fill: #ff6600;
}

.arc-label{
	stroke-width: 0;
	fill: black;
	word-wrap: break-word;
	pointer-events: none;
	text-align: left;
}

.scale-line{
	stroke: #808080;
	stroke-width : 15;
}

.scale-knob{
	fill: #ff8c1a;
	stroke: white;
	stroke-width : 3;
}

.scale-title{
	font-size: 30px;
}

.scale-text{
	font-size : 20px;
}

.tooltip{
	opacity : 0;
	text-align : left;
	position : absolute;
	width : auto;
	height : auto;
	font-size : 15px; 
	color : white;
	background : #808080;
	padding : 10px;
	pointer-events: none;
}

.tooltip-show{
	opacity : 1;
}
body{
	text-align : center;
}